@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  padding-bottom: 150px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.header-list {
  display: none;
}

.header {
  background-image: url("../src/images/Bitmap.jpg");
  background-size: 100vw 96%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .header .header-menu {
    display: none;
  }
  .header .header-list {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
  }
  .header .header-item:hover .header-link {
    color: #fff;
  }
  .header .header-link {
    color: #5c6d58;
    font-size: 20px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}

.header-menu {
  background-color: #fff;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 811px;
  }
}
.banner {
  color: #fff;
  padding-bottom: 211px;
}
@media screen and (min-width: 768px) {
  .banner .banner-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 45px;
  }
  .banner .banner-description {
    font-size: 16px;
  }
  .banner .banner-subheading {
    padding-top: 35px;
  }
  .banner .banner-link {
    font-size: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .banner .banner-link {
    font-size: 16px;
  }
}

.banner-subheading {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 22px;
  padding-top: 25px;
}

.banner-title {
  font-size: 33px;
  font-weight: 700;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 25px;
}

.banner-link {
  font-size: 26px;
  font-weight: 700;
  color: #D4D6D4;
  display: flex;
  align-items: center;
}
.banner-link:hover {
  text-decoration-line: underline;
  color: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.banner-link:hover .banner-svg {
  fill: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.banner-link > svg {
  fill: #D4D6D4;
  margin-right: 10px;
}

.client-logos {
  width: 90%;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -50;
  right: 80;
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 3;
}

.logos-list {
  display: flex;
  justify-content: space-evenly;
}

.features {
  display: flex;
  justify-content: space-evenly;
  padding-top: 117px;
  padding-bottom: 150pxж;
}

.features-wrap {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 475px;
  margin-top: 130px;
}

.features-text {
  color: rgba(77, 83, 60, 0.9);
  font-size: 14px;
  font-weight: 400;
}

.features-title {
  color: #4D533C;
  font-size: 36px;
  font-weight: 700;
  line-height: 127.778%;
}

.features-subtitle {
  color: rgba(33, 56, 66, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
}

.features-link {
  color: #D4D6D4;
  font-size: 16px;
  font-weight: 400;
}
.features-link:hover {
  color: #FFD723;
  text-decoration-line: underline;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.features-link:hover .features-svg {
  fill: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.features-svg {
  fill: #D4D6D4;
}

.features-rating {
  width: 450px;
  background: #FFF;
  box-shadow: 0px 100px 100px 0px rgba(0, 0, 0, 0.15);
  padding: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 525px;
}

.rating-text {
  color: #4D533C;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 166.667%;
  margin-top: 150px;
  margin-bottom: 50px;
}

.rating-img {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
  bottom: -30;
}

.rating-name {
  color: #4D533C;
  font-size: 22px;
  font-weight: 700;
  margin-left: 75px;
}

.rating-subtitle {
  color: #152934;
  font-size: 16px;
  font-weight: 400;
  margin-left: 75px;
}

.section-description {
  display: flex;
  border-top: 1px solid rgba(33, 56, 66, 0.0941176471);
  align-items: center;
  padding-top: 150px;
  padding-bottom: 110px;
}

.section-description > h2 {
  font-size: 36px;
  font-weight: 700;
  padding-right: 133px;
}

.section-description > p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(33, 56, 66, 0.6);
  opacity: 0.6;
  display: none;
}

.project-img {
  width: 100vw;
  height: auto;
  margin-right: 150px;
}

.coment-div {
  background-color: #fff;
  position: absolute;
  top: 360px;
  left: 420px;
  border-radius: 7px;
  max-width: 453px;
  box-shadow: 50px 50px 100px 0px rgba(0, 0, 0, 0.1450980392);
}

.img-div {
  position: relative;
}

.project-item:nth-child(2) > .img-div > .coment-div {
  left: -140px;
}

.coment-div > p {
  padding: 30px;
  color: #4D533C;
  font-weight: 400px;
}

.customer {
  display: flex;
  padding: 0 30px 30px 30px;
}

.project-heading {
  font-size: 36px;
  padding-top: 80px;
  color: #4D533C;
  margin-bottom: 24px;
}

.project-description {
  max-width: 421px;
  color: rgba(33, 56, 66, 0.6);
  opacity: 0.6;
  margin-bottom: 90px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.project-item:nth-child(2) {
  flex-direction: row-reverse;
  padding-right: 0;
  padding-left: 150px;
}

.project-item:nth-child(2) > .img-div > .project-img {
  margin: 0;
}

.project-link {
  color: #D4D6D4;
  fill: #D4D6D4;
  font-size: 16px;
  font-weight: 700;
  color: #D4D6D4;
  display: flex;
  align-items: center;
}
.project-link:hover {
  text-decoration-line: underline;
  color: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.project-link:hover .project-svg {
  fill: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.project-svg {
  fill: #D4D6D4;
  margin-right: 10px;
}

.thumb {
  height: 50px;
  width: 46px;
  margin-right: 15px;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: -23px -15px;
     object-position: -23px -15px;
}

@media screen and (min-width: 768px) {
  .section-description > p {
    display: flex;
  }
  .project-img {
    width: 735px;
    height: 550px;
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    padding-right: 150px;
    flex-wrap: nowrap;
  }
}
.deation {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.deation-title {
  color: #4D533C;
  font-size: 36px;
  font-weight: 700;
  line-height: 127.778%;
  width: 600px;
  margin-bottom: 50px;
  align-self: center;
  text-align: center;
}

.deation-list {
  display: flex;
  justify-content: space-evenly;
}

.deation-item {
  width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deation-list-title {
  color: #4D533C;
  font-size: 24px;
  font-weight: 500;
  line-height: 141.667%;
  text-transform: uppercase;
}

.deation-list-text {
  color: rgba(33, 56, 66, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 185.714%;
}

.deation-link {
  color: #D4D6D4;
  fill: #D4D6D4;
  font-size: 16px;
  font-weight: 700;
  color: #D4D6D4;
  display: flex;
  align-items: center;
  width: 97px;
}
.deation-link:hover {
  text-decoration-line: underline;
  color: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.deation-link:hover .deation-svg {
  fill: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.lets {
  position: absolute;
  background: #fafafa;
  box-shadow: 50px 130px 100px 0px rgba(0, 0, 0, 0.15);
  width: 1275px;
  height: 362px;
  padding: 100px;
  bottom: -200;
  left: 0;
}

.lets-title {
  color: #4D533C;
  font-size: 60px;
  font-weight: 700;
  line-height: 123.333%;
  width: 822px;
}

.lets-svg {
  fill: #D4D6D4;
}

.lets-link {
  font-size: 16px;
  font-weight: 700;
  color: #D4D6D4;
  display: flex;
  align-items: center;
}
.lets-link:hover {
  text-decoration-line: underline;
  color: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.lets-link:hover .lets-svg {
  fill: #FFD723;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer {
  background-image: url(../src/images/footer-bg.png);
  padding-top: 150px;
}

.footer-wrap {
  border-bottom: 1px solid #5D6544;
  margin: 100px;
  margin-top: 150px;
  padding-bottom: 60px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  width: 452px;
}

.footer-text {
  color: #B6C197;
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
}

.footer-link {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 250%;
}

.social-wrap {
  display: flex;
  justify-content: space-evenly;
}

.social-list {
  display: flex;
  justify-content: space-around;
  width: 700px;
  border-right: 1px solid #5D6544;
  padding-right: 100px;
}

.social-list-tiyle {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 237.5%;
  text-transform: uppercase;
}

.social-link {
  color: #B6C197;
  font-size: 16px;
  font-weight: 400;
  line-height: 250%;
}
.social-link:hover {
  color: #FFF;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-title {
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 237.5%;
  text-transform: uppercase;
}

.social-text {
  color: #B6C197;
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
  width: 270px;
}

.social-link-2 {
  color: #FFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 158.333%;
}
.social-link-2:hover {
  color: #e0e0e0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-logo-list {
  display: flex;
  justify-content: space-evenly;
  width: 171px;
}

.social-logo-item {
  background: rgb(68, 74, 52);
  width: 35px;
  height: 35px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-logo-item:hover {
  background-color: rgb(255, 215, 35);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.social-logo-item:hover .social-logo > use {
  fill: #fff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.social-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-logo use {
  fill: rgb(94, 102, 72);
}

.logo-wrap {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 0 100px;
  padding: 20px 0 25px 0;
  border-top: 1px solid #5D6544;
}

.dot {
  color: rgb(237, 185, 27);
}

.footer-logo-text {
  color: #B5C096;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */