.banner {
    color: #fff;
    padding-bottom: 211px;
    position: relative;

    @media screen and (min-width: 768px) {
        .banner-title {
            font-size: 40px;
            font-weight: 700;
            padding-bottom: 45px;
        }

        .banner-description {
            font-size: 16px;
        }

        .banner-subheading {
            padding-top: 35px;
        }

        .banner-link {
            font-size: 20px
        }
    }

    @media screen and (min-width: 1200px) {
        .banner-link {
            font-size: 16px;
        }
    }
}

.banner-subheading {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 22px;
    padding-top: 25px;
}

.banner-title {
    font-size: 33px;
    font-weight: 700;
}

.banner-description {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 25px;
}

.banner-link {
    font-size: 26px;
    font-weight: 700;
    color: #D4D6D4;
    display: flex;
    align-items: center;

    &:hover {
        text-decoration-line: underline;
        color: #FFD723;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }

    &:hover .banner-svg {
        fill: #FFD723;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}

.banner-link>svg {
    fill: #D4D6D4;
    margin-right: 10px;
}