.deation {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.deation-title {
    color: #4D533C;
    font-size: 36px;
    font-weight: 700;
    line-height: 127.778%;
    width: 600px;
    margin-bottom: 50px;
    align-self: center;
    text-align: center;
}

.deation-list {
    display: flex;
    justify-content: space-evenly;
}

.deation-item {
    width: 185px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.deation-list-title {
    color: #4D533C;
    font-size: 24px;
    font-weight: 500;
    line-height: 141.667%;
    text-transform: uppercase;
}

.deation-list-text {
    color: rgba(33, 56, 66, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 185.714%;
}

.deation-link {
    color: #D4D6D4;
    fill: #D4D6D4;
    font-size: 16px;
    font-weight: 700;
    color: #D4D6D4;
    display: flex;
    align-items: center;
    width: 97px;

    &:hover {
        text-decoration-line: underline;
        color: #FFD723;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }

    &:hover .deation-svg {
        fill: #FFD723;
        transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
}