.header-list {
  display: none;
}

.header {
  @extend %container !optional;
  background-image: url('../src/images/Bitmap.jpg');
  background-size: 100vw 96%;
  background-repeat: no-repeat;
  padding-right: 80px;
  padding-left: 80px;

  @media screen and (min-width: 768px) {
    .header-menu {
      display: none;
    }

    .header-list {
      display: flex;
      justify-content: space-evenly;
      width: 500px;
    }

    .header-item:hover .header-link {
      color: #fff;
    }

    .header-link {
      color: #5c6d58;
      font-size: 20px;
      transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 24px 0;
}

.header-menu {
  background-color: #fff;
  border-radius: 50%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .header {
    min-height: 811px;
  }
}